<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercury</title>
</head>
<body>
    <h1> Mercury </h1>
    <%- include('partials/navbar.ejs')%>
    <h3> Distance from Sun: <%= mercury.distanceFromSun %></h3>
    <h3> Length of Year: <%= mercury.yearLength %></h3>
    <h4> Description: <%= mercury.description %></h4>
    <img src="<%= mercury.image %>" width="50%" length="50%">
    <%- include('partials/footer.ejs')%>
</body>
</html>